name: Manual Workflow


on:
  workflow_dispatch:
    inputs:
      name:
        description: 'NAME'
        type: string
        default: 'test'
  

jobs:
  Manual:
    runs-on: ubuntu-latest

    steps:
      - name: Greetings
        run: echo "Hello_World"
    

 
      
